/* loader css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.spinner {
  -moz-animation: rotate 10s infinite linear;
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
  position: relative;
  display: block;
  margin: auto;
  width: 142px;
  height: 142px;
}
div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #2172b8;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #18a39b;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: #82c545;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}
div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 86px;
  height: 43px;
  margin-top: -43px;
  margin-left: -43px;
  border-color: #f8b739;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}
div.spinner i:nth-child(5) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  width: 100px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  border-color: #f06045;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
div.spinner i:nth-child(6) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  width: 114px;
  height: 57px;
  margin-top: -57px;
  margin-left: -57px;
  border-color: #ed2861;
  border-top-left-radius: 66px;
  border-top-right-radius: 66px;
}
div.spinner i:nth-child(7) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  width: 128px;
  height: 64px;
  margin-top: -64px;
  margin-left: -64px;
  border-color: #c12680;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
}
div.spinner i:nth-child(8) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  width: 142px;
  height: 71px;
  margin-top: -71px;
  margin-left: -71px;
  border-color: #5d3191;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body{
  font-family: "Poppins", sans-serif;
  list-style: none;
}

a:hover{
  text-decoration: none;
}

a{
  color: black;
}

/* video camera animation */
.fa-video-camera{
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: fa-video-camera 2s infinite;
  border-radius: 50%;
}

.top-bar{
  /* border-bottom: 1px solid #5391e3; */
}

@-webkit-keyframes fa-video-camera {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes fa-video-camera {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(230, 3, 3, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.city-search-btn{
  border-radius: 0px 5px 5px 0px;
  color: white;
  background-image: linear-gradient(to right, #5989e5, #37cfdc);
  border: none;
  padding: 0px 20px;
}

.dropdown{
  margin-left: 25px;
}

/* social links */
[class^="icon-btn"]{
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: ease-in-out .3s;
    border-radius: 5px;
    margin-left: 10px;
    background: none;
}

.twitter {
	color: #4099FF;
}

.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}

.instagram {
	color: #5C3D2E;
}

.github {
	color: #4183C4;
}

a.link {
	color: inherit;
}


/* time blinking effect */

.deadornot {
  animation:blink 1s linear infinite;
}

@keyframes blink {
  0%, 25%, 100% { opacity:1 }
  50%, 75% { opacity:0 }
}

.top-bar .dropdown-menu{
border: 2px solid #42abe1;
border-radius: 5px;
margin-top: 12px;
box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important;
min-width: 300px;
text-align: center;
font-size: 15px;
background: #ffffffe3;
color: black;
margin-top: 20px;
}

.top-bar .dropdown-menu span{
  margin-top: 5px;
  border-radius: 5px;
  color: white;
  padding: 5px;

}
.top-bar .dropdown-menu .locationaqi{
  font-size: 30px;
}

.top-bar .dropdown-menu .locationaqienviroment{
  font-size: 30px;
}



.top-bar .dropdown-menu .aqi_enviroment{
  color: white;
}

.top-bar .dropdown-menu button{
  width: 130px;
}

.top-bar .dropdown-menu .btn-group{
  padding: 3px;
}

.top-bar .dropdown-menu span{
  font-size: 13px;
}


/* .livevideo{
  position: relative;
  height: 500px;
  width: 700px;
  border: none;
} */

#hero{
  padding: 0px;
}

.info{
padding-top:0px;
border: 2px solid #42abe1;
position: absolute;
height: auto;
max-height: 730px;
max-width: 330px;
/* background:linear-gradient(to right, #5989e5ad, #37cfdc8a); */
background: white;
z-index: 9;
/* color: white; */
text-align: center;
top: 125px;
box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important;
border-radius: 8px;
right: 80px;
font-size: 16px;
}

.info .row span{
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: rgba(6, 110, 245, 0.51);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

.locationaqi{
  padding: 0px 10px;
  color: #4d7ac2;
  font-size: 40px;
  border: 3px solid #4d7ac2;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important;
}

.locationaqienviroment{
  background: #4e7bc2;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(109, 109, 109, 0.16) !important;
}


/* bouncing arrow */

@-moz-keyframes cbounce {
@-webkit-keyframes cbounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes cbounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.cbounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.modal-dialog{
    max-width: 1300px;
  }



  #map{
    .gm-style {
      > div:first-child > div + div > div:last-child > div > div {
        &:first-child > div,
        &:first-child > div > div > div,
        &:last-child,
        &:last-child > img {
          display: none !important;
        }
      }
      .gm-style-iw {
        top: 20px !important;
        left: 130px !important;
        background: #fff;
        padding: 10px;
        height: 40px;
      }
    }
  }



  .nav-tabs {
      margin-bottom: 15px;
  }
  .sign-with {
      margin-top: 25px;
      padding: 20px;
  }
  div#OR {
      height: 30px;
      width: 30px;
      border: 1px solid #C2C2C2;
      border-radius: 50%;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      float: right;
      position: absolute;
      right: -16px;
      top: 40%;
      z-index: 1;
      background: #DFDFDF;
  }

  .glyphicon.glyphicon-menu-down{
    font-size: 12px;
  }

  .glyphicon.glyphicon-menu-right{
    font-size: 15px;
  }
  .containerfluid{
    padding-right: 32px;
  padding-left: 0px;
  }
  .navbar-default .navbar-nav>li>a {
      color: #777;
      padding: 7px 17px;
    }


  /*
  .container{
    padding: 92px 0px 30px 0px;
  }*/

  .row{
    margin-top:70px;
  }


  .navbar-default {
      background-color: transparent;
      color: white;
      border: none;
      font-size: 16px;
      padding: 25px 25px 0px;
      position: absolute;
      top: 0px;
      width: 1440px;
    }

  .navbar-brand-image{
    height: 46px;
    position: relative;
    top: -11px;
  }

  .brand-text{
    font-size: 28px;
  font-weight: 300;
  }

  .signup{
    background: rgba(0, 255, 255, 0.49);
    border-radius: 31px;
  }
  .background-color{
    background-color: black;
  }
  .jumbotron-image{
    opacity: 0.3;
  }

  .jumbotron-heading{
    position: absolute;
    top: 12px;
    color: white;
    margin: 0 auto;
    width: 100%;
    margin-top: 170px;
    font-size: 42px;
    font-weight: 300;
    padding: 0px 320px;
  }

  .jumbotron-subheading{
    position: absolute;
        top: 316px;
        left: 600px;
        color: black;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 300;
        padding: 18px;
        background: white;
        border-radius: 33px;
  }
  img{
    box-shadow: 0px 0px 10px rgba(8, 8, 8, 0.62);
  }

  .content1{
  text-align: left;
  }

  .content1 .heading{
    font-size: 20px;
    font-weight: 500;
  }

  .content1 .subheading{
    padding-top: 10px;
    font-size: 15px;
  }

  .content2{
  text-align: right;
  }

  .content2 .heading{
    font-size: 20px;
    font-weight: 500;
  }

  .content2 .subheading{
    padding-top: 40px;
    font-size: 15px;
  }

  .modal-content {
      border-radius: 18px;
  }

  @media (max-width: 414px) {

  .logo_mobile_view{
  position: absolute;
  top: 75px;
  left: 11px;

  }

  .row{
    margin-bottom: 50px;
    margin: 0px 6px;
  }

  .col-sm-4{
    margin-top: 12px;
  }


  .jumbotron-heading {
        position: relative;
        left: -288px;
        color: #080808;
        margin: 40px 2px;
        width: 900px;
        font-size: 19px;
    }




  }
  /*classperformance page css*/
  .jumbotron {
    background: rgba(0, 0, 0, 0.87);
        padding: 204px 40px 30px;
  color: white;
  letter-spacing: 0.9;
    }

  .jumbotron a{
    color: white;
  }

  .jumbotron p{
    font-size: 22px;
  }

  .invite_students_btn{
    background: rgba(0, 255, 255, 0.49);
      border-radius: 31px;
      border: none;
      color: white;
      font-size: 19px;

  }
  .classroom_settings_btn{
  font-size: 20px;
  }

  .progress {
      height: 7px;
      width: 100px;
    }

  .area_of_weakness_btn{
  background: #ff6400;
  border-radius: 30px;
  color: white;
  letter-spacing: 0.6;
  border: none;
  padding:4px 42px 4px 17px;
  font-weight: 300;
  }

  .circle_area_of_weakness_btn{
    position: absolute;
        border-radius: 50%;
        right: 12px;
        top: -3px;
        background: #ff7c00;

  }

  .table_img{
    margin-right: 7px;
      width: 35px;
      height: 35px;
      float: left;
      position: relative;
      top: -5px;

  }


  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top:none;
  }


  /*classperformance mobile view optimization*/

  @media (max-width: 414px) {
    body{
      overflow-x: hidden;
    }
  .table_img{
    float: none;
  }

  .area_of_weakness_btn{
    margin-top: 12px;
    font-size: 30px;
  }

  .circle_area_of_weakness_btn{
    margin-top: 12px;
    font-size: 30px;
    margin-right: -12px;

  }

  .area_of_weakness_text{
    font-size: 30px;


  }
  }


  /*student performance section*/
  .area_of_score_btn{
    border-radius: 50%;
  border-width: 4px;
  font-size: 23px;
  background: transparent;
  border-color: pink;
    padding: 24px 18px;
    animation: animate 5s linear infinite;
  }
  /*
  .area_of_score_btn:hover{
    animation: animate 3s linear infinite;

  }*/

  @keyframes animate {

    0%{
      box-shadow: 0 0 0 0 rgba(74,144,226,.7);
    }
    40%{
      box-shadow: 0 0 0 17px rgba(74,144,226,0);
    }
    80%{
      box-shadow: 0 0 0 17px rgba(74,144,226,0);
    }
    100%{
      box-shadow: 0 0 0 0 rgba(74,144,226,0);
    }

  }

  .status_glyphicon{
    position: absolute;
    bottom: 22px;
    box-shadow: 0px 0px 0px black;
    width: 35px;
    height: 30px;
  }


  .signup1{
          margin-top: -5px;
      background: #3389ca;
      padding: 11px 15px;
      border-radius: 19px;
      cursor: hand;
      color: white;
      margin-left: 9px;
  }
